<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOS Burger</title>
    <link rel="stylesheet" href="../css/itemList.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseBurgers" aria-expanded="true" aria-controls="collapseBurgers">
                    Burgers
                </button>
            </h2>
            <div id="collapseBurgers" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container text-center">
                        <div class="row row-cols-5">
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/classic-burger.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Classic Burger (Regular)</h5>
                                        <p class="card-text">1500.00 LKR<br>15% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/classic-burger.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"> Classic Burger<br>(Large)</h5>
                                        <p class="card-text">750.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/turkey-burgers.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"> Turkey Burger<br><br></h5>
                                        <p class="card-text">1600.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Chikcken Burgerjpg.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Chicken Burger (Large)<br></h5>
                                        <p class="card-text">1400.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Chikcken Burgerjpg.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Chicken Burger (Regular)r<br></h5>
                                        <p class="card-text">800.00 LKR<br>20% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container text-center">
                        <div class="row row-cols-5">
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Cheeseburger.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Cheese Burger (Large)</h5>
                                        <p class="card-text">1000.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Cheeseburger.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Cheese Burger (Regular)</h5>
                                        <p class="card-text">600.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Bacon Burger.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Bacon Burger<br><br></h5>
                                        <p class="card-text">650.00 LKR<br>15% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/shawarma Burger.jpg" class="card-img-top1" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Shawarma Burger<br></h5>
                                        <p class="card-text">800.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Olive-Burger.jpg" class="card-img-top1" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Olive Burger<br></h5>
                                        <p class="card-text">1800.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/paneer Burger.jpg" class="card-img-top2" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Paneer Burger<br></h5>
                                        <p class="card-text">900.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Cheeseburger.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Double-Cheese Burger<br></h5>
                                        <p class="card-text">1250.00 LKR<br>20% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Crispy Chicken Burger .jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Crispy Chicken Burger (Regular)<br></h5>
                                        <p class="card-text">1200.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Crispy Chicken Burger .jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Crispy Chicken Burger (Large)<br></h5>
                                        <p class="card-text">1600.00 LKR<br>10% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- Submarines Section -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSubmarines" aria-expanded="false" aria-controls="collapseSubmarines">
                    Submarines
                </button>
            </h2>
            <div id="collapseSubmarines" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container text-center">
                        <div class="row row-cols-5">
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/crispy chicken sub.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Crispy Chicken Submarine (Large)<br></h5>
                                        <p class="card-text">2000.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/crispy chicken sub.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Crispy Chicken Submarine (Regular)<br></h5>
                                        <p class="card-text">1500.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/chicken sub.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Chicken Submarine (Large)<br></h5>
                                        <p class="card-text">1800.00 LKR<br>3% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/chicken sub.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Chicken Submarine (Regular)<br></h5>
                                        <p class="card-text">1400.00 LKR<br>10% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Grinder Submarine.jpg" class="card-img-top3" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Grinder Submarine<br></h5>
                                        <p class="card-text">2300.00 LKR<br>10% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-5">
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/chesse submarine.jpg" class="card-img-top3" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Cheese Submarine<br></h5>
                                        <p class="card-text">2200.00 LKR<br>10% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Double Cheese n Chicken Submarine.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Double Cheese n Chicken Submarine<br></h5>
                                        <p class="card-text">1900.00 LKR<br>16% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/special horgie sub.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Special Horgie Submarine<br></h5>
                                        <p class="card-text">2800.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/MOS Special sub.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">MOS Special Submarine<br></h5>
                                        <p class="card-text">3000.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>

                          </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFries" aria-expanded="false" aria-controls="collapseFries">
                    Fries
                </button>
            </h2>
            <div id="collapseFries" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container text-center">
                        <div class="row row-cols-4">
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Steak Fries (Large).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Steak Fries (Large)<br></h5>
                                    <p class="card-text">1200.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Steak Fries (Large).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Steak Fries (Medium)<br></h5>
                                    <p class="card-text">600.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/French Fries (Large).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">French Fries (Large)<br></h5>
                                    <p class="card-text">800.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/French Fries (Large).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">French Fries (Medium)<br></h5>
                                    <p class="card-text">650.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="row row-cols-4">
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/French Fries (Large).jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">French Fries (Small)<br></h5>
                                        <p class="card-text">450.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card" style="width: 14rem;">
                                    <img src="../img/Sweet Potato Fries (Large).jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Sweet Potato Fries (Large)<br></h5>
                                        <p class="card-text">450.00 LKR<br>0% Discount</p>
                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>

                </div>
            </div>
        </div>

        <!-- Pasta Section -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsePasta" aria-expanded="false" aria-controls="collapsePasta">
                    Pasta
                </button>
            </h2>
            <div id="collapsePasta" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container text-center">
                        <div class="row row-cols-4">
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Chicken n Cheese Pasta.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Chicken n Cheese Pasta<br></h5>
                                    <p class="card-text">1650.00 LKR<br>15% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Chicken Penne Pasta.jpg" class="card-img-topp" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Chicken Penne Pasta<br></h5>
                                    <p class="card-text">1700.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Ground Turkey Pasta Bake.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Ground Turkey Pasta Bake<br></h5>
                                    <p class="card-text">2900.00 LKR<br>10% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Creamy Shrimp Pasta.jpg" class="card-img-topp" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Creamy Shrimp Pasta<br></h5>
                                    <p class="card-text">2000.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container text-center">
                        <div class="row row-cols-4">
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Lemon Butter Pasta.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Lemon Butter Pasta<br></h5>
                                    <p class="card-text">1950.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Tagliatelle Pasta.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Tagliatelle Pasta<br></h5>
                                    <p class="card-text">2400.00 LKR<br>1% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Baked Ravioli.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Baked Ravioli<br></h5>
                                    <p class="card-text">2000.00 LKR<br>1% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
                          <div class="col">Column</div>
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <!-- Chicken Section -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseChicken" aria-expanded="false" aria-controls="collapseChicken">
                    Chicken
                </button>
            </h2>
            <div id="collapseChicken" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <!-- chicken-item-section -->
                    <div class="container text-center">
                        <div class="row row-cols-4">
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Fried Chicken (Small).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Fried Chicken (Small)<br></h5>
                                    <p class="card-text">1200.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                            </div>
                          </div>
            <!-- ---------------------------------------------------- -->
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Fried Chicken (Small).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Fried Chicken (Regular)<br></h5>
                                    <p class="card-text">2300.00 LKR<br>10% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                          </div>
                        </div>
            <!-- ---------------------------------------------------- -->
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Fried Chicken (Small).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Fried Chicken (Large)<br></h5>
                                    <p class="card-text">3100.00 LKR<br>5% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                          </div>
                          </div>
            <!-- ---------------------------------------------------- -->
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Hot Wings (Large).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Hot Wings (Large)<br></h5>
                                    <p class="card-text">2400.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                          </div>
                          </div>
            <!-- ---------------------------------------------------- -->
                        </div>
                      </div>
                      <div class="container text-center">
                        <div class="row row-cols-4">
            <!-- ---------------------------------------------------- -->
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Devilled Chicken (Large).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Devilled Chicken (Large)<br></h5>
                                    <p class="card-text">900.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                          </div>
                          </div>
            <!-- ---------------------------------------------------- -->
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/BBQ Chicken (Regular).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">BBQ Chicken (Regular)<br></h5>
                                    <p class="card-text">2100.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                          </div>
                          </div>
            <!-- ---------------------------------------------------- -->

                        </div>
                      </div>
                </div>
            </div>
        </div>

        <!-- Beverages Section -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseBeverages" aria-expanded="false" aria-controls="collapseBeverages">
                    Beverages
                </button>
            </h2>
            <div id="collapseBeverages" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container text-center">
                        <div class="row row-cols-4">
            <!-- ---------------------------------------------------- -->
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Pepsi (330ml).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pepsi (330ml)<br></h5>
                                    <p class="card-text">990.00 LKR<br>5% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                          </div>
                          </div>
            <!-- ---------------------------------------------------- -->
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Coca-Cola (330ml).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Coca-Cola (330ml)<br></h5>
                                    <p class="card-text">1230.00 LKR<br>0% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                          </div>
                          </div>
            <!-- ---------------------------------------------------- -->
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/sprite cup.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Sprite (330ml)<br></h5>
                                    <p class="card-text">1500.00 LKR<br>3% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                          </div>
                          </div>
            <!-- ---------------------------------------------------- -->
                          <div class="col">
                            <div class="card" style="width: 14rem;">
                                <img src="../img/Mirinda (330ml).jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Mirinda (330ml)<br></h5>
                                    <p class="card-text">850.00 LKR<br>7% Discount</p>
                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                </div>
                          </div>
                          </div>
            <!-- ---------------------------------------------------- -->
                        </div>
                      </div>
                </div>
            </div>
        </div>



    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>