@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Nunito:ital,wght@0,400;0,700;1,400&family=Poppins&family=Roboto+Condensed:wght@300;400&family=Roboto+Mono:wght@200;600&family=Roboto:wght@300;500;700&display=swap');
html, body {
    background-color: #000000 !important;
}

.container{
background-color: aqua;
}
.card{
    /* padding: 40%; */
    margin-left: 30%;
    /* margin-top: 10%; */
    text-align: center;

}
.row{
    background-color: rgb(187, 219, 218);
    height: 600px;
}

.mb-3{
    font-family: "Roboto";
    font-size: larger;
    font-style: bold;
    line-height: 10px;
    margin-top: 1%;
}
.col-5{
    padding: 40px;
    margin-left: 60px;
}




