body {
    background-color: rgba(206, 184, 184, 0.295);
    margin: 0;
    padding: 0;
    background-image: url('../img/MOS Burgercroped .jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



